<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chat
      <button [routerLink]="['/home']"class="btn">salir</button>
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>

    <ion-grid>

      <ion-row *ngFor="let item of messageList">

        <ion-col offset="2" size="5" class="message other-message" *ngIf="item.user_id != myUserId else meText">
          <span>{{item.msg}}</span>
          <div class="time" ><br />{{item.created_at}}</div>
        </ion-col>

        <ng-template #meText>
          <ion-col offset="6" size="4" class="message my-message">
            <span style="text-align: end"
            >  {{item.msg}}</span
            >
          </ion-col>
        </ng-template>

      </ion-row>
    </ion-grid>
  </ion-content>



<ion-footer>
  <ion-toolbar color="black">
    <ion-row align-items-center no-padding>
      <ion-col size="10">
        <textarea  class="message-input" name="chatMessage"placeholder="Escribe tu mensaje!"  [(ngModel)]="chatMessage"> </textarea>
      </ion-col>

      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" class="msg=btn" (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
