
ion-toolbar{
  --padding-top: 1%;
  --padding-bottom: 1%;
}

.titleicon {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align:center;
}
.message {
  background-color: #fff;
  border: 1px solid #e5e5ea;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  font-family: "SanFrancisco";
  font-size: 1.25rem;
  margin: 0 auto 1rem;
  max-width: 600px;
  padding: 0.5rem 1.5rem;

}

.other-message{
  background-color: #6A5ACD		;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  font-family: "SanFrancisco";
  font-size: 1.25rem;
  margin: 0 auto 1rem;
  max-width: 600px;
  padding: 0.5rem 1.5rem;
}
.my-message{
  background-color: #90EE90;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  font-family: "SanFrancisco";
  font-size: 1.25rem;
  margin: 0 auto 1rem;
  max-width: 600px;
  padding: 0.5rem 1.5rem;
}

.message-input {
  width: 100%;
  border-radius: 10px;
  background: fff;
  resize: none;
  padding-left: 10px;
  padding-right: 10px;

}
.msg-btn {
  --padding-start: 0.5em;
  --padding-end: 0.5em;
}
